body {
    padding-top: 56px;
    position: relative;

}


.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background-color: #25D366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.tech-icons i {
    font-size: 4rem;
}

/* .container {
    background-color: rgb(232, 199, 253);
}

.container-full-screen {
    background-color: rgb(232, 199, 253);
    width: 100%;


} */

